
/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

h2 {
    margin-top: 10px;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

/* HOME */

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/* SITE */


.site {
  font-size: 110%;
  text-align: justify;
  width: 60em;
  margin: 1em auto;
  line-height: 1.5em;
}

/* title */

.title {
    border-bottom: 2px solid #dddddd;
    padding: 10px 0px 0px 0px;
    margin: 10px 0px 20px 0px;
    text-align: left;
}

.title h1 {
    font-family: helvetica, arial, clean, sans-serif;
    font-size: 2.0em;
    margin: 0px 0px 10px 0px;
}

.title a {
    /*
    font-size: 1.1em;
    font-weight: bold;
    */
    text-decoration: none;
    padding: 10px;
    color: #00a;
}

.title .nav a {
    padding: 0px 10px -10px 10px;
}


  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }


/* Footer */

.footer {
    text-align: center;
    font-size: 0.8em;
    border-top: 2px solid #dddddd; 
    padding: 5px;
}

p.meta {
    margin-top: 0px;
    font-size: 0.9em;
    color: #aaa;    
}

#post h1 {
    margin-bottom: 0px;
    font-size: 1.2em;
}

pre {
    padding: 1em;
    font-size: 0.9em;
    background: #eee;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

.y {
    display: none;
}

.x {
    font-weight: bold;
}

.promo {
    float: right; 
    width: 300px;
    background: #ffe;
    border: 1px solid #ddb;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    margin-left: 20px;
}

.promo-item {
    padding: 10px 0px;
}

a.anchor {
   max-height: 1px;
   margin: -10px;
}

#page h1 {
    font-size: 1.5em;
}

#page h2 {
    font-size: 1.2em;
}

#page h3 {
    font-size: 1.1em;
}

h1, #post h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}
