---
layout: default
title: Anand Chitipothu
---
 
<div id="home">

  {% include upcoming.html %}

  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h1>Presentations</h1>
  <ul class="posts">
      <li>
        <span>29 Sept 2012</span> &raquo; 
        <a href="/presentations/solving-puzzles-with-python/">Solving Puzzles with Python</a>
        at <a href="http://in.pycon.org/2012/">PyCon India 2012, Bangalore</a>
      </li>
      <li>
        <span>01 Oct 2011</span> &raquo; 
        <a href="/presentations/jsfoo-bangalore/inside-javascript-objects/">Inside Javascript Objects</a>
        at <a href="http://jsfoo.hasgeek.com">jsFoo, Bangalore</a>
      </li>
      <li>
        <span>16 Sep 2011</span> &raquo; 
        <a href="http://in.pycon.org/2011/static/files/talks/4/slides.html">Functional Programming with Python</a>
        at <a href="http://in.pycon.org/2011/">PyCon India 2011</a>
      </li>
  </ul>

  <h1>Other Writings</h1>

  <ul class="posts">
    <li>
        <a href="/python-practice-book/">Python Practice Book</a> &raquo; A Python tutorial with lot of examples and practice problems.
    </li>
  </ul>
</div>

