<!--
  <div class="promo">
    <h2 class="promo-title">Upcoming Public Trainings</h2>

    <div class="promo-item">
      <a href="/trainings/#python">Python Programming</a>
      <p class="meta" style="color: #555;">August 4-5, 2012 &#8211; Bangalore</p>
    
      <div>
        Two day course on python programming language. [<a href="/trainings/#python">read more...</a>]
        <br/>
        <br/>
        
        <a href='#'><img src='http://doattend.com/assets/btnw-reg-now.png'/></a>
      </div>
    </div>
  </div>
-->
