---
layout: page
title: Trainings
---

{% include upcoming.html %}

<h1>Trainings</h1>

<p>I offer advanced programming courses in Bangalore and around.</p>

<p>Please checkout <a href="https://pipal.in/">Pipal Academy</a> to find the details of the current course offerings.</p>

<h2>Subscribe</h2>

<p>
Sign up to be notified about upcoming trainings.
</p>

<p>
<form action="http://anandology.us5.list-manage2.com/subscribe/post?u=0d506c94f93f39dedd6684eb4&amp;id=44e9049899" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required/>
<input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button"/>
</form>
</p>

<h2>Contact</h2>

<p>
{% include contact.md %}
</p>

