---
layout: page
title: Trainings
---

{% include upcoming.html %}

<h1>Trainings</h1>

<p>I offer the following public training classes in Bangalore in semi-regular basis. Please look at the <a href="/">home page</a> for upcoming trainings.
</p>

<p>
I also offer on-site tranings for corporate companies. Please <a class="contact"
href="#contact/anandology">write to me</a> if you have a requirement.
</p>

<h2><a href="python.html">Python Programming</a></h2>

<p>
Two day hands-on course on Python programming language. This course covers basics of Python programming language with an emphasis on practical applications.
</p>

<p>
This course assumes that the participants are already familiar with
some programming language. Prior exposure to Python is not required.  
<a href="python.html">More info...</a>
</p>

<h2><a href="advanced-python.html">Advanced Python Programming</a></h2>

<p>
Two day hands-on course on advanced features of Python programming language. 
</p>

<p>
This course assumes that the participants already have good experience with Python.
</p>
<p>
<a href="advanced-python.html">More info...</a>
</p>

<h2>Subscribe</h2>

<p>
Sign up to be notified about upcoming trainings.
</p>

<p>
<form action="http://anandology.us5.list-manage2.com/subscribe/post?u=0d506c94f93f39dedd6684eb4&amp;id=44e9049899" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required/>
<input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button"/>
</form>
</p>

<h2>Contact</h2>

<p>
{% include contact.md %}
</p>

