{% if courses %}
  <div class="promo">
    <h2 class="promo-title">Upcoming Public Trainings</h2>
    {% for course in courses %}
      <div class="promo-item">
        <a href="{{ course['url'] }}">{{ course['name'] }}</a>
        <p class="meta" style="color: #555;">{{ course['dates'] }} &#8211; Bangalore</p>
      
        <div>
          {{ course['description'] }} [<a href="{{ course['url'] }}">read more ...</a>]
          <div style="text-align: center; padding: 10px;">
            <a href="http://{{ course['doattend'] }}.doattend.com/"><img src='http://doattend.com/assets/btnw-reg-now.png'/></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
